<div class="flashMsg"><flash-message></flash-message></div>
<h3>Бронирование билетов</h3>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Номер билета</th>
      <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ticket in tickets">
       <td class="hideTd">{{ticket.id}}</td>
      <td>{{ticket.number}}</td>
      <td>{{ticket.price}}</td>
      <td><button ng-click="createReservation(this)" class="btn btn-primary">Забронировать</button></td>
    </tr>
    </tbody>
  </table>
