<div>
  <h3>Просмотр билетов пользователя</h3>
  <button class="btn btn-primary" ng-click="showBuyerDialog()">Показать</button>
 <!-- <table class="table table-hover">
    <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Телефонный номер</th>
      <th>Адрес</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="buyer in buyres">
      <td>{{buyer.firstName}}</td>
      <td>{{buyer.middleName}}</td>
      <td>{{buyer.lastName}}</td>
      <td>{{buyer.birthDate}}</td>
      <td>{{buyer.phoneNumber}}</td>
      <td>{{buyer.livingAddress}}</td>
      <td><button ng-click="editBuyer(this)" class="btn btn-primary">Изменить покупателя</button></td>
      <td><button ng-click="deleteBuyer(this)" class="btn btn-danger">Удалить покупателя</button></td>
    </tr>
    </tbody>
  </table>-->
</div>


