<div class="flashMsg"><flash-message></flash-message></div>
<div>
  <h3>Просмотр билетов пользователя</h3>
  <button class="btn btn-primary" ng-click="showUserTickets()">Показать билеты</button><!--Добавить кнопку отмены брони-->
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Номер билета</th>
      <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ticket in tickets">
      <td>{{ticket.number}}</td>
      <td>{{ticket.price}}</td>
    </tr>
    </tbody>
  </table>
</div>


